extends ./../partials/head
block content
  if current_language && current_language == 'tr'
    .all-wrapper-agreement
      span.title Gizlilik Sözleşmesi
      span.subtitle Gizlilik Sözleşmesi Usersmagic
      span En son güncelleme: 19 Aralık 2021
      span Bu Politika güncellenebilir, lütfen bu sayfayı düzenli olarak kontrol ettiğinizden emin olun.
      span Usersmagic Inc. ("Biz" veya "Biz") tarafından size sunulan bir web sitesi olan usersmagic.com'a hoş geldiniz.
      br 
      span Kişisel verilerinizin kontrolünü elinize almanızı sağlamak için, usersmagic.com ('Web Sitesi') aracılığıyla kişisel verilerin işlenmesi ve işlenmesi hakkında sizi bilgilendirmek amacıyla bu okunması kolay gizlilik politikasını ("Politika") oluşturduk. bu verilerin tarafımızca Bu Web Sitesi aracılığıyla kişisel verilerin toplanması ve işlenmesi, Avrupa veri koruma yasalarına ve Türkiye Veri Koruma Yasası'na (KVKK) uygun olarak yapılır.
      br 
      span.subtitle Biz Kimiz?
      span Usersmagic'in misyonu, site ziyaretçilerinden daha fazla veri akışı sağlayıp daha efektif pazarlama stratejileri geliştirilimesini sağlamaktır. Kullanıcıların izni ile veri toplanarak hedefli pazarlama stratejileri ile daha fazla satış yapılmasına yardımcı olur.
      br
      span Usersmagic Inc.
      span Adres: 651 Broad St, Suite 206 Middletown, Delaware 19709
      span Telefon Numarası: 0090 507 66 44 989
      span E-Posta: info@usersmagic.com
      br 
      span.subtitle Hangi bilgileri topluyoruz ve neden?
      span Usersmagic, ürünleri doğru test cihazı segmentleriyle eşleştirmek için kullanıcılardan ve ürünlerden çeşitli bilgiler toplar.
      span Usersmagic, kullanıcılarından aşağıdaki verileri toplar:
      span e-posta
      span Usersmagic, hizmetlerini kolaylaştırmak için bu verileri toplar.
      span Eğer bir müşteriyseniz, bir hesabınız olduğu sürece bizimle ve bu forumdaki diğer müşterilerle etkileşime geçebilirsiniz. Yetkili Usersmagic kullanıcısı olarak bilgilerinizi doğrulamak ve sizin için bir hesap oluşturmak ve sürdürmek için kişisel verilerinizi işlememiz gerekir. Her zaman hesabınızı silme seçeneğiniz vardır.
      br
      span.subtitle Kişisel Verilerin İşlenmesinin Hukuki Dayanağı
      span  Bu işleme faaliyetleri, bu durumda Web Sitemiz aracılığıyla sunduğumuz Web Sitesi Hizmetleri ve beraberindeki Kullanım Koşulları olan sözleşmenin yerine getirilmesi için gereklidir.
      br 
      span.subtitle Verileriniz ne kadar süreyle saklanacak?
      span Usersmagic, verilerinizi, sağlandığı amaç için gerekli olduğu sürece saklayacaktır. Kişisel verilerinizin sağlandığı amaçlar için hala gerekli olup olmadığını kontrol etmek için sistemlerimizi düzenli olarak gözden geçiriyoruz.
      br 
      span.subtitle Kişisel verileriniz güvende mi?
      span Web Sitemiz aracılığıyla bize gönderdiğiniz her şeyin güvenli ve emniyetli olmasını sağlıyoruz. Web Sitemiz, AB içinde bulunan bir sunucuda barındırılmaktadır. Usersmagic, kişisel verilerinizi kayıp, hırsızlık veya diğer yetkisiz erişim/kullanım biçimlerine karşı korumak için uygun teknik ve organizasyonel önlemleri alır. Kişisel verilere yalnızca işini yapmak için erişmesi gereken ve uygun şekilde eğitilmiş ve yetkilendirilmiş kişiler tarafından erişilebildiğinden emin oluruz.
      span Ayrıca, ortaklarımızın verilerinizi hırsızlık, kayıp veya verilerin toplanma amaçlarına uygun olmayan her türlü kullanımdan korumak için benzer organizasyonel ve teknik önlemler almalarını sağlıyoruz.
      br 
      span.subtitle Veri sahibi haklarınızı nasıl kullanabilirsiniz?
      span Bu gizlilik politikasıyla ilgili başka sorularınız varsa veya kişisel verilerinizin işlenmesine (silme, değiştirme ve erişim/taşınabilirlik gibi) itiraz etme hakkınızı kullanmak, önceden onayınızı geri çekmek veya başka bir endişeniz varsa, lütfen bir e-posta gönderin (info@usersmagic.com adresine mail atın).
      br 
      span Talebinizi mümkün olan en kısa sürede, ancak en geç dört hafta içinde yerine getireceğiz.
      br
      br
  else
    .all-wrapper-agreement
      span.title Confidentiality Agreement
      span.subtitle Privacy Policy Usersmagic
      span Last update: December 19, 2021
      span This Policy may be updated, please be sure to check this page regularly.
      span Usersmagic Inc. Welcome to usersmagic.com, a website brought to you by ("We" or "We").
      br 
      span To enable you to take control of your personal data, we have created this easy-to-read privacy policy ("Policy") to inform you about the processing and processing of personal data via usersmagic.com ('Website'). The collection and processing of personal data by us through this Website is done in accordance with European data protection laws and Turkish Data Protection Law (KVKK).
      br 
      span.subtitle Who are we?
      span Usersmagic's mission is to provide more data flow from site visitors and develop more effective marketing strategies. It helps to make more sales with targeted marketing strategies by collecting data with the permission of the users.
      br
      span Usersmagic Inc.
      span Address: 651 Broad St, Suite 206 Middletown, Delaware 19709
      span Phone Number: 0090 507 66 44 989
      span Email: info@usersmagic.com
      br 
      span.subtitle What information do we collect and why?
      span Usersmagic collects a variety of information from users and products to match products with the right tester segments.
      span Usersmagic collects the following data from its users:
      span email
      span Usersmagic collects this data to facilitate its services.
      span If you are a customer, you can interact with us and other customers in this forum as long as you have an account. As an authorized Usersmagic user, we need to process your personal data to verify your information and create and maintain an account for you. You always have the option to delete your account.
      br
      span.subtitle Legal Basis for the Processing of Personal Data
      span These processing activities are in this case necessary for the performance of the contract, which is the Website Services we offer through our Website and the accompanying Terms of Use.
      br 
      span.subtitle How long will your data be kept?
      span Usersmagic will retain your data for as long as necessary for the purpose for which it was provided. We regularly review our systems to check if your personal data is still necessary for the purposes for which it was provided.
      br 
      span.subtitle Is your personal data safe?
      span We ensure that everything you send to us through our Website is safe and secure. Our Website is hosted on a server located within the EU. Usersmagic takes appropriate technical and organizational measures to protect your personal data against loss, theft or other forms of unauthorized access/use. We make sure that personal data can only be accessed by those who need access to do their job and who are appropriately trained and authorized.
      span We also ensure that our partners take similar organizational and technical measures to protect your data from theft, loss or any use that is incompatible with the purposes for which the data was collected.
      br 
      span.subtitle How can you exercise your data owner rights?
      span If you have further questions about this privacy policy or have any other concerns, to exercise your right to object to the processing of your personal data (such as deletion, modification and access/portability), to withdraw your prior consent, or have any other concerns, please send an e-mail to info@usersmagic.com throw).
      br 
      span We will honor your request as soon as possible, but within four weeks at the latest.
      br
      br
  
