extends ./../partials/head
block content
  if current_language && current_language == 'tr'
    .all-wrapper-agreement
      span.title Kullanıcı Sözleşmesi
      span 1 Aralık 2021 tarihinden itibaren geçerlidir.
      span.subtitle 1. Giriş
      span.subtitle 1.1 Sözleşme
      span ‘’Devam Et’’ ifadesine tıklayarak, erişimde bulunarak veya hizmetlerimizi kullanarak Usersmagic ile hukuki olarak bağlayıcı bir sözleşme akdetmiş olursunuz. Eğer bu sözleşmeyi kabul etmiyorsanız ‘’Devam Et’’seçeneğine tıklamayın ve hizmetlerimizden hiçbirine erişmeyin veya kullanmayın. Eğer bu sözleşmeyi sonlandırmak istiyorsanız, bunu dilediğiniz zaman hesabınızı kapatarak (info@usersmagic.com adresine hesabınızın kapatılması ve bilgileriniz silinmesi için mail atabilirsiniz) ve hizmetlerimize erişmeyi ve onları kullanmayı bırakarak yapabilirsiniz.
      span.subtitle Hizmetler
      span İşbu sözleşme Usersmagic’in site dışında yapılan veri toplama aktiviteleri de dahil olmak üzere Usersmagic in tüm faaliyetleri için geçerlidir. Usersmagic kullanıcılarına internet ortamında veya mobil telefonlarda üye işyerlerinin uygulamalarına veri sunarak pazarlama strajelerinin geliştirilmesini sağlar.
      span.subtitle Usersmagic Kullanıcı Sistemi
      span Her usersmagic.com kullanıcısının usersmagic.com sistemine bağlanabilmesi için kayıtlı e- posta adresini girmesi gereklidir. Bu işlem usersmagic.com sitesine giriş yapmak şeklinde tanımlanmıştır.
      span Usersmagic.com kullanıcılarını usersmagic.com sistemi dahilindeki yeni hizmet veya projelerden e-posta yolu ile haberdar edebilecektir.
      span Usersmagic.com kullanıcının sağladığı veriyi üye işyeri ile kullanıcının bilgisi dahilinde anonim şekilde paylaşacaktır.Bu sebepten dolayı üye işyeri ile kullanıcı arasında çıkabilecek her türlü problemden veya oluşabilecek zarardan kesinlikle sorumlu değildir.
      span Usersmagic.com sisteminin kullanılması ile oluşacak data ve verilerin tüm fikri haklarına sahiptir. Usersmagic.com, söz konusu bilgilerle kullanıcı üyelik bilgilerini açıklamadan demografik bilgiler içeren raporlar düzenleyebilir veya bu tarz bilgileri veya raporları kendisi kullanabilir ve bu rapor ve/veya istatistikleri iş ortakları ile üçüncü kişilerle bedelli veya bedelsiz paylaşabilir. Bu işlemler Usersmagic.com Gizlilik Politikası hükümlerine aykırılık etmez.
      span.subtitle 2. Yükümlülükler
      span Hizmetleri kullanmak için, şunları kabul etmektesiniz:
      span 1) Hizmetimizden faydalanmak için bir üye hesabı gereklidir.
      span 2) Kayıt esnasında, her üye e-posta adresini verir. E-posta adresi üyenin başarılı bir şekilde kayıt olduktan sonra gelecekte oturum açabileceği erişim verisidir. Her üye yalnızca bir üye hesabı tutabilir.
      span 3) Üye, üye hesabını istediği zaman devre dışı bırakabilir.
      span 4) Hizmetlerimizi kullanmak için daha önceden kısıtlanmış olmamalısınız.
      span 5) Hatalı bilgilerle hesap oluşturmak koşullarımızın ihlal edildiği anlamına gelir.
      span 6) Yasalara göre 16 yaşındaki kullanıcılarımız asgari yaşa sahiptir, ebeveynlerinden onaysız hizmetlerimizden yararlanamamaktadırlar.
      span 7) Kanunlara göre iletilmesi yasak olan bilgileri iletmemeyi ve zincir posta, yazılım virüsü vb. gibi gönderilme yetkisi olmayan veriler kullanıcı tarafından paylaşılmamaktadır.
      span 8) Usersmagic.com hizmetleri kullanılarak elde edilen herhangi bir kayıt veya elde edilmiş malzemelerin tamamen kullanıcının rızası dahilindedir.
      span.subtitle 3. Usersmagic.com’a Tanınan Yetkiler
      span Usersmagic.com herhangi bir zamanda sistemin çalışmasını geçici bir süre askıya alabilir veya tamamen durdurabilir. Sistemin kullanımının geçici bir süre askıya alınması veya tamamen durdurulmasından dolayı usersmagic.com’un kullanıcılarına veya üçüncü kişilere karşı hiçbir sorumluluğu olmayacaktır. E-posta usersmagic.com tarafından sunulan başvuru alanlarının doldurulmasından sonra görüntülenecek ve onaylanacaktır. Usersmagic.com kullanıcı kayıt formunu eksiksiz doldurmuş üyelerin veya Usersmagic.com sistemine giriş yapan kullanıcıların sistemi kullanmalarını münhasıran süresiz olarak engelleyebilecektir. Usersmagic.com, hizmetlerinin zamanında, güvenli ve hatasız olarak sunulması, hizmet kullanımından elde edilen sonuçların doğru ve güvenilir olması, hizmet kalitesinin beklentilere cevap vermesi için gerekli özeni gösterecektir ancak bunları taahhüt etmemektedir. Usersmagic.com kullanıcıların sistemden yararlanmaları sırasında ortamda bulunduracakları dosyaların, mesajların bazılarını veya tamamını uygun göreceği periyotlarla yedekleme ve silme yetkisine sahiptir. Yedekleme ve silme işlemlerinden dolayı Usersmagic.com sorumlu tutulmayacaktır. Usersmagic.com kendi ürettiği ve/veya dışardan satın aldığı bilgi, belge, yazılım, tasarım, grafik vb. eserlerin mülkiyet ve mülkiyetten doğan telif haklarına sahiptir. Usersmagic.com, ileride doğacak teknik zaruretler ve mevzuata uyum amacıyla kullanıcıların aleyhine olmamak kaydıyla işbu Sözleşme’nin uygulamasında değişiklikler yapabilir, mevcut maddelerini değiştirebilir veya yeni maddeler ilave edebilir.Usersmagic.com üye şirketlerin sağladığı içerikten sorumlu değildir.
      span.subtitle 4. Yürürlülük
      span İşbu Sözleşme taraflar arasında kullanıcının, kullanıcı kayıt formunu doldurmasından itibaren süresiz olarak yürürlülüğe girer.
      span.subtitle 5. Kişisel Veri
      span Kişisel verilerin korunması, Usersmagic.com şirket öncelikleri ve temel ilkeleri arasında yer almaktadır. Kişisel Veri Koruma politikasını inceleyiniz.
      span.subtitle 6. Fesih
      span Taraflar işbu Sözleşme’yi diledikleri zaman sona erdirebileceklerdir. Sözleşmenin feshi anında tarafların birbirlerinden olan alacak hakları etkilenmez.
  else
    .all-wrapper-agreement
      span.title User Agreement
      span Valid from 1 December 2021.
      span.subtitle 1. 
      span.subtitle 1.1 Contract
      span By clicking "Continue", by accessing or using our services, you are entering into a legally binding contract with Usersmagic. If you do not accept this agreement, do not click "Continue" and do not access or use any of our services. If you wish to terminate this agreement, you can do so at any time by closing your account (you can email info@usersmagic.com to close your account and delete your information) and stop accessing and using our services.
      span.subtitle Services
      span This agreement applies to all activities of Usersmagic, including data collection activities of Usersmagic outside the site. Usersmagic enables the development of marketing strategies by providing data to the applications of member merchants on the internet or on mobile phones.
      span.subtitle Usersmagic User System
      span Each usersmagic.com user is required to enter their registered e-mail address in order to connect to the usersmagic.com system. This process is defined as logging into usersmagic.com site.
      span Usersmagic.com will be able to notify its users of new services or projects within the usersmagic.com system via e-mail.
      span Usersmagic.com will share the data provided by the user anonymously with the member business within the knowledge of the user. For this reason, it is not responsible for any problems or damages that may arise between the member workplace and the user.
      span Usersmagic.com has all the intellectual rights of the data and data that will be created by the use of the system. Usersmagic.com may prepare reports containing demographic information without disclosing user membership information, or use such information or reports itself, and may share these reports and/or statistics with business partners and third parties, with or without charge. These transactions do not violate the provisions of the Usersmagic.com Privacy Policy.
      span.subtitle 2. Obligations
      span To use the Services, you agree to:
      span 1) A member account is required to use our service.
      span 2) During registration, each member gives his e-mail address. The e-mail address is the access data that the member can log in to in the future after successful registration. Each member can only hold one member account.
      span 3) The member can deactivate the member account at any time.
      span 4) You must not have been previously restricted from using our Services.
      span 5) Creating an account with incorrect information means that our terms are violated.
      span 6) According to the law, our users who are 16 years old have the minimum age, they cannot benefit from our services without the approval of their parents.
      span 7) Not to transmit information that is prohibited by law, and to prevent chain mail, software virus, etc. Data that is not authorized to be sent, such as such, is not shared by the user.
      span 8) Any recordings or materials obtained using Usersmagic.com services are entirely with the user's consent.
      span.subtitle 3. Authorizations Granted to Usersmagic.com
      span Usersmagic.com may at any time temporarily suspend or stop the operation of the system. Usermagic.com will not have any responsibility towards its users or third parties due to the temporary suspension or complete suspension of the use of the system. The email will be viewed and approved after filling in the application fields submitted by usersmagic.com. Usersmagic.com may exclusively indefinitely prevent users who have filled out the user registration form completely or users who log in to the Usersmagic.com system from using the system. Usersmagic.com will take the necessary care to provide its services on time, safely and without errors, to ensure that the results obtained from the use of the service are accurate and reliable, and to ensure that the service quality meets the expectations, but does not undertake these. Usersmagic.com has the authority to back up and delete some or all of the files and messages that users will keep in the environment during their use of the system, in periods that it deems appropriate. Usersmagic.com will not be held responsible for backup and deletion. Usersmagic.com produces information, documents, software, designs, graphics, etc. that it produces and / or purchased from outside. owns and proprietary copyrights of the works. Usersmagic.com may make changes in the implementation of this Agreement, change existing articles or add new articles, provided that it is not against the users for future technical necessities and compliance with the legislation. Usersmagic.com is not responsible for the content provided by member companies.
      span.subtitle 4. Enforcement
      span This Agreement enters into force between the parties indefinitely after the user fills out the user registration form.
      span.subtitle 5. Personal Data
      span Protection of personal data is among Usersmagic.com company priorities and basic principles. Please review the Personal Data Protection policy.
      span.subtitle 6. Termination
      span The Parties may terminate this Agreement at any time. At the time of termination of the contract, the rights of the parties to each other remain unaffected.
